.edit-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.form-item input {
  width: 700px;
}

.edit-form-header {
  display: flex;
  justify-content: space-between;
}

.btn-cancel {
  width: 100px;
}